.space {
  margin-top: 40px;
}

.nav-color {
  background-color: #2d2d2e;
}

.slider .slides li img {
  min-height: 100vh;
}
#nav-mobile li {
  padding-left: 5px;
}
nav ul a {
  margin-left: 6px;
}
.no-uppercase {
  text-transform: none;
}

.process-card {
  box-shadow: none;
  border-radius: 20px;
  margin-top: 60px;
}
.process-card:hover {
  border: 2px solid #fadb60;
}
.process-card2 {
  box-shadow: none;
  border-radius: 20px;
  margin-top: 50px;
}
.process-card2:hover {
  border: 2px solid #fadb60;
}