.section-search input {
  padding: 8px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}
.dropdown-content li > a,
.dropdown-content li > span {
  color: #26a69a;
}
.section {
  padding-top: 50px;
}
.fcard {
  padding-top: 15px;
}
.section-follow .fa-4x {
  margin: 5px 10px;
}
.parallax-container {
  min-height: 330px;
  height: auto;
}