.nav-wrapper {
  background-color: #6f4037;
}
.brand-logo {
  font-family: Pacifico;
  margin-left: 30px;
}
#nav-mobile {
  margin-left: 30px;
}
.slider .indicators .indicator-item.active {
  background-color: #6f4037;
}
.move {
  margin-top: 60px;
}
.parallax-container {
  min-height: 330px;
  height: auto;
}
